@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-swiper .swiper-pagination-bullet {
  background-color: white;
  opacity: 0.25;
}

.banner-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}